@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
    background-color: #fafafa;
    font-family: 'Unica One', cursive;
}

p {
    font-family: 'Alegreya', sans-serif;
    line-height: 20px;
}

@font-face {
    font-family: 'billabongregular';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: billabong, 'billabongregular';
}

.navigation {
    padding: 1em;
    text-align: center;
    background-color: #fff;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.brand {
    font-size: 2rem;
}

.loader > div {
    background-color: #000 !important;
}

.table-container {
    overflow-x: scroll;
}

.elo-standings {
    text-transform: uppercase;
    width: 100%;
    padding: 1em;
    background-color: #fff;
    border: solid 1px rgba(0,0,0,0.1);
    overflow-x: scroll;
}

@media(min-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 100%;;
        padding: 1em;
    }
}

.flex-games {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.game-table td {
    padding: 1em;
    vertical-align: middle;
    text-transform: uppercase
}

@media(max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 100%;
        padding: 1em;
    }
}

.footer {
    width: 100%;
    background-color: rgba(44, 62, 80,1.0);
}

.donate-btn {
    width: 50%;
    cursor: pointer;
}
